.login {
    background: linear-gradient(to bottom right,  #000761, #44008b, #9F4580);
    width: auto;
    height: 90%;
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
    flex: 1;
    font-family: 'Lato', serif;
}

.login__avatar {
    width: 190px;
    height: 190px;
    color: white;
    background-color: #9B95FF;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 70px;
    border-width: 10px;
    border-style: solid;
    border-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-style: bold;
}

.login__botton-bar {
   padding: 4px;
    font-size: 12px;
   text-align: right;
   background-color:#9F4580;
   color: white;
}